* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}
